@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
	box-sizing: border-box;
	margin: unset;
	padding: unset;
}

.page-wrapper {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	min-height: 100dvh;
	background-color: #e3e3c9;
}

h1 {
	text-align: center;
	font-size: 2.5rem;
	margin-top: 0;
	border-bottom: 4px solid #b08da0;
	padding: 1rem;
}

#posts, .col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.col p{
	width: 70%;
}