@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
	box-sizing: border-box;
	margin: unset;
	padding: unset;
}

.page-wrapper {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	min-height: 100dvh;
	padding: 20px;
}

h1 {
	text-align: center;
}

#posts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}