:root {
    --primary-color: #FF0000;
    --secondary-color: purple;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

p {
    color: #ff0000;
    font-family: sans-serif;
}

a {
    text-decoration: unset;
    color: inherit;
    font-style: unset;
}

#hero.container > p {
    font-size: 20px;
    line-height: 1.5;
    color: rgba(0 0 0 / 65%);
    box-shadow: -1px 15px 18px #0006;
    transform: rotate(357deg);
}

p {
    color: blue;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
}

.container.grow {
    height: 100dvh;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

ul.navigation > li {
    position: relative;
}

ul.navigation > li > a {
    padding: 10px 20px;
    transition: all ease 0.3s;
}

ul.navigation > li > a:hover {
    color: var(--primary-color);
}

ul.navigation > li > ul {
    list-style: unset;
    padding: 0;
    margin: 0;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 18px -9px #000;
    opacity: 0;
    pointer-events: none;
    transition: all ease 0.3s;
    position: absolute;
    top: 100%;
    width: 200px;
    right: 0;
}

ul.navigation > li > ul {
    opacity: 1;
    pointer-events: all;
}

ul.navigation > li > ul > li > a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
}

