@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&family=Work+Sans:wght@300;400;500;600&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
	background-color: #C1C1C1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul {
	display: flex;
	align-items: center;
	padding: 0;
}

li {
	font-family: 'Work Sans', sans-serif;
	list-style-type: none;
	font-weight: 500;
}

a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0.50rem;
}


nav a:hover {
	color: blue;
}

span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 3em;
	padding: .2em 0;
	margin: 0 auto;
}






