@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fancy-header {
    color: #002980; /* single line comment */
    text-decoration: underline;
}

body {
    background-color: #d7edd7;
    background-image: url(https://images.pexels.com/photos/5326909/pexels-photo-5326909.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

main, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    list-style-type: square;
}

header {
    text-align: center;
}

h1, h2 {
    color: #323737;
    text-decoration: underline;
    text-align: center;
    font-weight: 500;
}

div {
    display: inline-block;
    margin: 1rem 1.5rem;
}

img {
    width: 400px;
    height: 250px;
    margin: 5px 15px;
    border: 1px solid #b5b5b5;
}

table {
    font-size: 1.25rem;
}

th {
    text-decoration: underline;
}

td {
    padding: 15px;
}

footer a {
    color: rgba(38, 90, 29, 0.88);
}

footer a:hover {
    color: #ed1945;
}

footer a:active {
    color: #d7edd7;
}

footer a:visited {
    color: #094f9b;
}



